<div id="nav-bar">
  <input id="nav-toggle" type="checkbox" />
  <div id="nav-header">
    <a id="nav-title" target="_blank">
      ADMİN PANEL
    </a>
    <label for="nav-toggle">
      <span id="nav-toggle-burger"></span>
    </label>
    <hr />
  </div>
  <div id="nav-content">
    <div class="nav-button"  onclick="location.href='/admin'">
      <i class="fas fa-house"></i><span>Ana Sayfa</span>
    </div>
    <div class="nav-button"  onclick="location.href='/admin/blogs'">
      <i class="fas fa-pen-to-square"></i><span>Bloglar</span>
    </div>
    <div class="nav-button"  onclick="location.href='/admin/faqs'">
      <i class="fas fa-magnifying-glass"></i><span>SSS</span>
    </div>
    <div class="nav-button"  onclick="location.href='/admin/settings'">
      <i class="fas fa-gear"></i><span>Ayarlar</span>
    </div>
    <div id="nav-footer">
      <div class="nav-button" onclick="location.href='/admin/logout'">
        <i class="fas fa-arrow-right-from-bracket"></i><span>Çıkış Yap</span>
      </div>
    </div>
    
    <div id="nav-content-highlight"></div>
  </div>
</div>
